<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Upload Excel & TXT Files</h1>
    
    <form class="upload-form" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="files" accept=".xlsx" required>
        <input type="file" name="files" accept=".txt" required>
        <button type="submit">Upload</button>
    </form>
</body>
</html>
